*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #f0f2f5;
}
form{
    background-color: #ffffff;
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
}