* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    line-height: 19px;
}

:root {
    --primary : #270082;
    --secondry : #fff;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-box {
    width: 100%;
    height: 55px;
    background-color: #281154;
}

.nav-text a {
    color: #fff;
    text-decoration: none;
}

.nav-text a > i {
    color: var(--secondry);
    font-size: 40px;
}

.logo h3 {
    color: var(--secondry);
}

.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(/Assets/Images/hero_image.png);
}

.header-one> h1 {
    font-size: 65px;
    color: #fff;
}

.header-one h6,p{
    color: #fff;
}

.header-one {
    padding-top: 180px;
}

.section-three {
    background-color: #281154;
    width: 100%;
    height: 806px;
}

.Section-three-text {
    padding: 80px;
}

.Section-three-text p{
    line-height: 24px;
}

.Section-three-text h1 {
    color: #fff;
}

.Section-three-text h3 {
    color: #fff;
}

.Section-three-text button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: #cd0202;
    color: #fff;
}

.section-four-text h5 {
    margin-top: 360px;
}

.section-four-text p {
    color: #676767;
}

.section-four-text button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: #270082;
    color: #fff;
}

.Section-three-text img {
    width: 80%;
}

.section-five-text img {
    width: 90%;
}

.section-five-img {
    background-image: url(../Images/video.png);
    width: 100%;
    height: 100vh;
}

.section-five {
    padding-top: 200px;
}

.section-six-box img {
    width: 100%;
}

.button-redeem {
    outline: none;
    background-color: #281154;
    color: #fff;
    border: none;
}

.footer-box-seven {
    width: 100%;
    height: 320px;
    background-color: var(--primary);
}

body a {
    color: #e3e3e3;
    text-decoration: none;
}

.footer-box-color {
    width: 100%;
    height: 80px;
    background-color: #4403da;
}




