* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    line-height: 19px;
}

:root {
    --primary : #270082;
    --secondry : #fff;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-box {
    width: 100%;
    height: 55px;
    background-color: #281154;
}

.nav-text a {
    color: #fff;
    text-decoration: none;
}

.nav-text a > i {
    color: var(--secondry);
    font-size: 40px;
}

.logo h3 {
    color: var(--secondry);
}

.header-section {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/Assets/Images/hero_image.png);
}

.header-one> h1 {
    font-size: 65px;
    color: #fff;
}

.header-one h6,p{
    color: #fff;
}

.header-one {
    padding-top: 180px;
}

.section-three {
    background-color: #281154;
    width: 100%;
    height: 806px;
}

.Section-three-text {
    padding: 80px;
}

.Section-three-text p{
    line-height: 24px;
}

.Section-three-text h1 {
    color: #fff;
}

.Section-three-text h3 {
    color: #fff;
}

.Section-three-text button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: #fc0f0f;
    color: #fff;
}











