* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #149F39;
    --secondory: #FFC066;
}

body p {
    line-height: 19px;
}

.Container-fizxed {
    max-width: 1400px;
    margin: 0 auto;
}

.section-three {
    margin-top: 80px;
}

.hero-section img {
    width: 512px;
    height: 514px;
}

.hero-text h1 {
    font-size: 72px;
}

.hero-text h6 {
    padding: 15px;
    background-color: var(--primary);
    width: 198px;
    color: #fff;
}

.hero-text h2 {
    width: 225px;
    background-color: var(--secondory);
    padding: 20px;
    color: #fff;
}