* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #149F39;
    --secondory: #FFC066;
}

body p {
    line-height: 19px;
}

body a {
    color: #000;
    text-decoration: none;
}

nav {
    box-shadow: 5px 5px 5px #ccc;
}

.Container-fizxed {
    max-width: 1400px;
    margin: 0 auto;
}

.section-three {
    margin-top: 100px;
}

.hero-section {
    margin-top: 100px;
}

.hero-section img {
    width: 50%;
}

.hero-text h1 {
    font-size: 72px;
}

.hero-text h6 {
    padding: 15px;
    background-color: var(--primary);
    width: 198px;
    color: #fff;
}

.hero-text h2 {
    width: 225px;
    background-color: var(--secondory);
    padding: 20px;
    color: #fff;
}

.section-four-container {
    margin-top: 100px;
}

.divider {
    border: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

.section-four h6 {
    padding: 20px;
    background-color: var(--primary);
    width: 120px;
    margin: 0 auto;
}

.tag {
    padding: 20px;
    background-color: var(--primary);
    width: 120px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px auto;
    align-items: center;
}

.card-design img{
    width: 100%;
}

.footer-section {
    width: 100%;
    height: 332px;
    background-color: #FFF0DB;
    margin-top: 100px;
}

.input-footer{
    width: 262px;
    height: 24px;
}

#footer-box {
    padding: 80px 0;
}

@media(500px){
    
}
