* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed-container {
    width: 1400px;
    margin: 0 auto;
}

.header-img {
    background-image: url(/Assets/Images/Header-image.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}